# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#Cmake
build/

# Visual Studio Integration
.vs/
*.user
*.userosscache
*.sln.docstates
**/*.vsidx

# Visual Studio Build Folders
x64/
x86/
Debug/
Release/

# CMake specific
CMakeSettings.json
CMakeCache.txt
CMakeFiles/